@import 'variables';

.nav{
  background-color: $sidebar-orange;
  box-shadow: 1em 0.2em 2.5em -0.1em grey;
  border-radius: 0.5em;
  text-align: center;
  vertical-align: center;
  &--title{
    color: white;
  }
  &--list{
    text-align: center;
    list-style: none;
    padding-inline-start: 0;
    &--item{
      display: inline-block;
      // width: 50%;
      padding: 0 10%;
    }
    &--item:hover{
      background-color: grey;
    }
  }
}
