.landing {
  &--container {
    background-color: orange;
    height: 100vh;
    border: 0.2em solid black;
    &--card {
      height: 75%;
      background-color: honeydew;
      width: 100%;
      border: 0.05em solid black;
      display: flex;
    }
  }
}
